{% extends 'base.html.twig' %}

{% block title %}Mon compte - Pâtisserie el bachri{% endblock %}

{% block content %}
   
   
    {% if is_granted('ROLE_ADMIN') %}
    <h5 class="text-center">
        Bienvenue {{ app.user.fullname }} dans votre compte.<br/> <!--var app nous permet d'acceder a l'entité user et recuperer le proprieté fullname -->
  </h5>
    <div class="row">
        <div class="col-md-6 ">
            <div class="account-item text-center "  style="background:#e2ced2 ">
                <img src="{{ asset('assets/img/password.png') }}" alt="Modifier mon mot de passe"><br/>
                <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="account-item text-center "  style="background:#e2ced2 ">
                <img src="{{ asset('assets/img/backend.png') }}" alt="Modifier mon mot de passe"><br/>
                <a href="/admin"> Accéder au backoffice </a>
            </div>
        </div>
    </div>
    {% elseif is_granted('ROLE_USER') %}
    <h5 class="text-center">
        Bienvenue {{ app.user.firstname }} dans votre compte.<br/>
  </h5>
  <hr>
  <div class="row">
      <div class="col-md-4 ">
          <div class="account-item text-center "  style="background:#e2ced2 ">
              <img src="{{ asset('assets/img/password.png') }}" alt="Modifier mon mot de passe"><br/>
              <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
          </div>
      </div>
      <div class="col-md-4">
          <div class="account-item text-center"  style="background:#e2ced2 ">
              <img src="{{ asset('assets/img/address.png') }}" alt="Gérer mes adresses"><br/>
              <a href="{{ path('account_address') }}">Gérer mes adresses</a>
          </div>
      </div>
      <div class="col-md-4">
          <div class="account-item text-center"  style="background:#e2ced2 ">
              <img src="{{ asset('assets/img/shopping.png') }}" alt="Mes commandes"><br/>
              <a href="{{ path('account_order') }}">Mes commandes</a>
          </div>
      </div>
  </div>
  <hr>
       
{% endif %}
{% endblock %}

