{% extends 'base.html.twig' %}

{% block title %}Nos produits - Pâtisserie Elbachri{% endblock %} 

{% block content %}
 <div class="row">
     <script>
         window.onload = function () {
         document.getElementById("clickfiltre").onclick();
        };
     </script>
   <div class="d-flex">
    <div class="p-2">
      <button
        id="clickfiltre"
        type="button"
        class="btn btn-light"
        data-toggle="modal"
        data-target="#exampleModalCenter"
      >
        <img
          src="{{ asset('assets/img/filter(1).png') }}"
          height="32px"
          alt="ajouté un produit"
        />
      </button>
    </div>
    <div class="ml-auto h3 p-2">Nos produits</div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Filtrer vos produits
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">{{ form(form) }}</div>
      </div>
    </div>
  </div>
</div>
<div class="row product-container">
  {% for product in products %} <!--pour chaque produit que tu as dans products tu nous fait cette oprération  -->
  <div class="col-md-3">{% include 'product/single_product.html.twig' %}</div>
  {% else %}
  <div class="container bouge mt-3">
    <strong> Il n’y a pas de résultat pour cette recherche </strong><br>
     <img src="{{ asset('assets/img/page-non-trouvee.png') }}" alt="produit non trouvé" height="250px"/>
    <a href="{{ path('products') }}" class="btn btn-dark btn mr-3 ">Voir nos produits</a>

  </div>
</div>
{% endfor %}
<div class="container bouge mt-3">
  {{ knp_pagination_render(products, "pagination.html.twig") }}
</div>

{% endblock %}
